@use "../util/" as *;

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: rem(30);

  @include breakpoint-up(large) {
    justify-content: flex-end;
  }

  button {
    border: rem(2) solid var(--white);
    border-radius: rem(10);
    padding-block: rem(14);
    padding-inline: rem(38);
    background-color: transparent;
    color: var(--white);
    font-size: rem(12);
    text-transform: uppercase;
    letter-spacing: rem(3);
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
      border-color: var(--header-outline);
      color: var(--header-outline);
    }
  }
}
